*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 320px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans";
  font-display: swap;
  src: url("../../fonts/opensans.woff") format("woff");
  src: url("../../fonts/opensans.woff2") format("woff2");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Open Sans";
  font-display: swap;
  src: url("../../fonts/opensansbold.woff") format("woff");
  src: url("../../fonts/opensansbold.woff2") format("woff2");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.button {
  display: block;
  width: 260px;
  height: 52px;
  padding: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
  outline: 2px solid #444444;
  cursor: pointer;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.categories {
  position: relative;
  max-width: 320px;
  margin: 0 auto;
}

.categories__container {
  background-color: #ffffff;
  background-image: url("../../img/index-categories-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.categories__title {
  margin: 0;
  padding: 73px 30px 120px 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.categories__list {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  list-style: none;
}

.categories__link {
  display: block;
  min-width: 320px;
  height: 103px;
  padding: 24px 160px 31px 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.categories__link--interior {
  background-color: #63d1bb;
}

.categories__link--toy {
  background-color: #56c3b2;
}

.contacts__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.contacts__email,
.contacts__email-link,
.contacts__address,
.contacts__address-street {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.contacts__email,
.contacts__address {
  margin-right: 35px;
}

.contacts__container {
  display: flex;
}
.contacts__container--email {
  margin-bottom: 50px;
}
.contacts__container--address {
  margin-bottom: 62px;
}

.contacts__email-link {
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
}

.contacts__map-wrapper {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 42px;
}

.contacts__button {
  margin: 0 auto;
  margin-bottom: 55px;
}

.features__tittle {
  margin: 0 0 82px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  margin-bottom: 83px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
.features__item:last-child {
  margin-bottom: 58px;
}

.header {
  max-width: 320px;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
}

.header-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav__item {
  height: 78px;
  border-bottom: 1px solid #ececec;
}

.header-nav__link {
  display: block;
  padding: 27px 33px 27px 76px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.header-nav__promo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav__promo-link {
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  font-family: inherit;
  color: #000000;
  text-decoration: none;
}

.header-nav__promo-link--delivery {
  font-weight: 400;
  color: #444444;
}

.header-nav__promo-link--new,
.header-nav__promo-link--sell {
  font-weight: 700;
}

.page-footer {
  width: 320px;
  margin: 0 auto;
  background-color: #f1f1f1;
}

.page-footer__developed-text {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.page-footer__social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-bottom: 29px;
  padding: 25px 60px 25px 60px;
  list-style: none;
  border-bottom: 1px solid #e5e5e5e5;
}

.page-footer__developed {
  display: block;
  padding: 0 103px 0 49px;
  color: #000000;
  text-decoration: none;
}

.page-footer__developed-text {
  display: block;
}

.rewiews__tittle {
  margin: 0 0 14px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.rewiews__comment {
  margin: 0 0 33px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}

.rewiews__author {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.rewiews__nickname {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}

.rewiews__toggles {
  display: flex;
  margin: 0 0 38px 0;
}

.rewiews__toggle-button {
  width: 50%;
  height: 52px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.rewiews__item {
  margin: 0 0 31px 0;
}

.rewiews__button {
  margin: 0 0 89px 0;
}

.stock {
  background-color: #ffffff;
}

.stock__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.stock__product {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.stock__description {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.stock__table {
  margin: 0 0 28px 0;
  padding: 0;
}

.stock__table-item {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ececec;
}

.stock__table-term,
.stock__table-definition {
  padding: 12px 0 12px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.stock__table-term {
  width: 38%;
}

.stock__table-definition {
  margin: 0;
}

.stock__image {
  margin-bottom: 25px;
}

.stock__procuct-price {
  display: block;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.stock__product-order {
  margin-bottom: 73px;
}

.user-list__search {
  display: block;
}

.modal {
  position: fixed;
  top: 50%;
  padding-top: 29px;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}

.modal__close {
  display: none;
}

.modal__title {
  margin: 0 0 14px 0;
  padding: 0 50px 0 54px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}

.modal__form-group {
  border: none;
}

.modal__legend {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.modal__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal__submit {
  margin-bottom: 46px;
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
  outline: none;
}

.intro {
  margin-bottom: 17px;
  background-color: #f1f1f1;
}

.intro__tittle {
  margin: 0;
  padding: 74px 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
}

.knitting__description {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.form-group {
  border: none;
}

.form-group__title {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
}

.form-group__label {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-group__input {
  border: none;
}
.form-group__input--radio {
  margin-bottom: 24px;
}
.form-group__input--checkbox {
  margin-bottom: 43px;
}

.form-group__title--type {
  margin-bottom: 35px;
}

.form-group__title--color {
  margin-bottom: 35px;
}

.form-group__title--about {
  margin-bottom: 29px;
}

.form-group__title--contacts {
  margin-bottom: 19px;
}

.form-group__title--email {
  margin-bottom: 21px;
}

.form-group__title--additionally {
  margin-bottom: 23px;
}

.form-group__textarea {
  margin-bottom: 17px;
  padding: 15px 15px 26px;
  border: 2px solid #444444;
}

.form-group__input--about {
  width: 100%;
  padding: 15px 0;
  border-bottom: 2px solid #000000;
}

.form__mark {
  display: block;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.form__submit {
  margin-bottom: 55px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item-wrapper {
  margin-bottom: 30px;
  padding: 28px 32px 0 28px;
  border: 1px solid #ececec;
}

.catalog-item__info {
  padding-bottom: 17px;
  border-bottom: 1px solid #ececec;
}

.catalog-item__footer {
  padding-top: 22px;
  padding-bottom: 32px;
}

.catalog-item__link {
  color: #000000;
  text-decoration: none;
}

.catalog-item__title {
  margin: 0 0 6px 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.catalog-item__description {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.catalog-item__price {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.manufacturing__descriprion {
  margin: 0;
  padding: 35px 0 41px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.manufacturing__order {
  padding: 13px 30px 32px;
}

.manufacturing__button {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
}

.manufacturing__inner {
  border: 1px solid #ececec;
}

.manufacturing__title {
  margin: 0;
  padding: 22px 13px 27px 91px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
/*# sourceMappingURL=style.css.map */