.button {
  display: block;
  width: 260px;
  height: 52px;
  padding: 16px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: $color-charcoal;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-default-white;
  outline: 2px solid $color-charcoal;
  cursor: pointer;
}
