.categories {
  position: relative;

  width: 100%;

  background-color: $color-snow;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.categories__container {
  background-color: $color-snow;
  background-image: url("../img/index-categories-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 373px;

  @media (min-width: $tablet-width) {
    padding-top: 94px;
    padding-bottom: 135px;

    background-image: url("../img/hero-tablet.jpg");
    background-position: 50% -60px;
    background-size: 768px 746px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 94px;
    padding-bottom: 135px;

    background-image: url("../img/hero-desktop.jpg");
    background-position: 50% -60px;
    background-size: 1150px 746px;

  }
}

.categories__title {
  margin: 0;
  padding: 73px 30px 120px 30px;

  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.categories__list {
  margin: 0 auto;
  margin-bottom: 31px;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
  }
}

.categories__item {
  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.categories__link {
  display: block;
  height: 103px;
  padding: 24px 160px 31px 30px;

  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: $color-default-white;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    max-width: 668px;
  }
}

.categories__link--interior {
  background-color: $color-downy;
}

.categories__link--toy {
  background-color: $color-ruerto-rico;
}
