.categories {
  position: relative;

  width: 100%;

  background-color: $color-snow;

  @media (min-width: $vp-768) {
    margin: 0 auto;
  }
}

.categories__zig-zag {
  @media (min-width: $vp-768) {
    &::after {
      content: "";
      position: absolute;
      top: 97%;

      display: block;
      width: 100%;
      height: 24px;

      background-image: url("../img/icons/zig-zag/zigzag-fill-tablet.svg");
      background-position-x: center;
      background-size: auto 23.8px;
    }
  }

  @media (min-width: $vp-1150) {
    &::after {
      height: 34px;

      background-size: 1250px;
    }
  }
}

.categories__container {
  padding: 73px 30px 115px;

  background-color: $color-snow;
  background-image: url("../img/background/index-intro-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -18px;
  background-size: 320px 373px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/index-intro-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: $vp-768) {
    padding-top: 111px;
    padding-bottom: 371px;

    background-image: url("../img/background/index-intro-tablet@1x.jpg");
    background-position: 50% -45px;
    background-position-y: -45px;
    background-size: 768px auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/index-intro-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  @media (min-width: $vp-1150) {
    padding-top: 113px;
    padding-bottom: 355px;

    background-image: url("../img/background/index-intro-desktop@1x.jpg");
    background-position: 50% -45px;
    background-size: 1150px 746px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/index-intro-desktop@2x.jpg");
    }
  }
}

.categories__title {
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $vp-768) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp-1150) {
    font-size: 53px;
    line-height: 57px;
  }
}

.categories__list {
  margin: 0 auto;
  padding: 0;

  list-style: none;

  @media (min-width: $vp-768) {
    display: flex;
    max-width: 668px;

    @media (min-width: $vp-1150) {
      max-width: 1050px;
    }
  }
}

.categories__item {
  position: relative;

  background-color: $color-downy;

  &:nth-child(even) {
    background-color: $color-puerto-rico;

    & .categories__link:hover {
      background-color: $color-puerto-rico-mod;
      transform: translateY(-5px);
    }

    & .categories__link:hover::after {
      opacity: 0.7;
    }

    & .categories__link:active::after {
      opacity: 0.3;
    }
  }

  & .categories__link:hover {
    background-color: $color-downy-alter;
    transform: translateY(-5px);
  }

  & .categories__link:hover::after {
    opacity: 0.7;
  }

  & .categories__link:active::after {
    opacity: 0.3;
  }

  @media (min-width: $vp-768) {
    position: relative;

    background-color: $color-downy;

    &:nth-child(even) {
      background-color: $color-puerto-rico;

      & .categories__link:hover {
        background-color: $color-puerto-rico-mod;
        transform: translateY(-5px);
      }

      & .categories__link:hover::after {
        opacity: 0.7;
      }

      & .categories__link:active::after {
        opacity: 0.3;
      }
    }

    & .categories__link:hover {
      background-color: $color-downy-alter;
      transform: translateY(-5px);
    }

    & .categories__link:hover::after {
      opacity: 0.7;
    }

    & .categories__link:active::after {
      opacity: 0.3;
    }

    @media (min-width: $vp-768) {
      width: 50%;
    }
  }
}

.categories__link {
  display: block;
  height: 103px;
  padding: 24px 160px 31px 30px;

  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: $color-default-white;
  text-decoration: none;

  &--interior::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 36px;

    width: 40px;
    height: 62px;

    background-image: url("../img/icons/index/interior.svg");
    opacity: 0.5;

    @media (min-width: $vp-768) {
      top: 29px;
    }
  }

  &--toy::after {
    content: "";
    position: absolute;
    top: 21px;
    right: 27px;

    width: 60px;
    height: 60px;

    background-image: url("../img/icons/index/toy.svg");
    opacity: 0.5;

    @media (min-width: $vp-768) {
      top: 32px;
      right: 34px;
    }
  }

  @media (min-width: $vp-768) {
    max-width: 668px;
    min-height: 129px;
    padding-left: 37px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $vp-1150) {
    min-height: 122px;
    padding-right: 310px;
  }
}
