.features__tittle {
  margin: 0 0 82px 0;

  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $vp-321) {
    margin: 0 auto;
    margin-bottom: 82px;
  }

  @media (min-width: $vp-768) {
    margin-bottom: 97px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp-1150) {
    font-size: 53px;
    line-height: 57px;
  }
}

.features__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $vp-321) {
    min-width: 260px;
    max-width: 260px;
    margin: 0 auto;
  }

  @media (min-width: $vp-768) {
    display: grid;
    max-width: 700px;
    margin: 0 auto;

    grid-template-columns: 1fr 1fr;
  }
}

.features__item {
  position: relative;

  margin-bottom: 81px;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &--ecology::after {
    content: "";
    position: absolute;
    top: -53px;
    left: 8px;

    width: 33px;
    height: 38px;

    background-image: url("../img/icons/index/ecology.svg");

    @media (min-width: $vp-768) {
      top: -58px;
    }
  }

  &--prise::after {
    content: "";
    position: absolute;
    top: -52px;
    left: 0;

    width: 47px;
    height: 27px;

    background-image: url("../img/icons/index/prise.svg");
  }

  &--like::after {
    content: "";
    position: absolute;
    top: -48px;
    left: 7px;

    width: 34px;
    height: 27px;

    background-image: url("../img/icons/index/like.svg");
  }

  &--natural::after {
    content: "";
    position: absolute;
    top: -50px;
    left: 3px;

    width: 35px;
    height: 34px;

    background-image: url("../img/icons/index/natural.svg");
  }

  &--support::after {
    content: "";
    position: absolute;
    top: -50px;
    left: -6px;

    width: 55px;
    height: 23px;

    background-image: url("../img/icons/index/support.svg");
  }

  &--package::after {
    content: "";
    position: absolute;
    top: -51px;
    left: 3px;

    width: 33px;
    height: 32px;

    background-image: url("../img/icons/index/package.svg");
  }


  @media (min-width: $vp-768) {
    margin-bottom: 110px;

    font-size: 20px;
    line-height: 22px;

    &--ecology {
      order: 1;
    }

    &--prise {
      order: 3;
    }

    &--like {
      order: 5;
      margin-bottom: 0;
    }

    &--natural {
      order: 2;
    }

    &--support {
      order: 4;
    }

    &--package {
      order: 6;
    }
  }
}


.featutes__container {
  padding: 0 30px;
  margin-bottom: 58px;

  @media (min-width: $vp-768) {
    padding: 25px 50px 0;
  }

  @media (min-width: $vp-1150) {
    max-width: 700px;
    margin: 0 auto;
    padding: 0;
  }
}
