.features__tittle {
  margin: 0 0 82px 0;

  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.features__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features__item {
  margin-bottom: 83px;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  &:last-child {
    margin-bottom: 58px;
  }
}
