.form {
  padding: 20px 30px 60px 30px;

  @media (min-width: $vp-768) {
    padding: 50px 0 50px 0;
  }

  @media (min-width: $vp-1150) {
    padding-top: 110px;
    padding-bottom: 50px;
  }
}

.form__description {
  margin: 0;
  margin-bottom: 29px;

  font-size: 13px;

  @media (min-width: $vp-768) {
    margin-bottom: 13px;
    padding: 0 72px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $vp-1150) {
    width: 702px;
    margin: 0 auto;
    padding: 0;
  }
}

.form__wrapper {
  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
  }
}

.form__inner {
  @media (min-width: $vp-768) {
    background-color: $color-white-smoke;
  }
}

.form__group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  border: 0;

  @media (min-width: $vp-768) {
    position: relative;

    display: grid;
    align-items: start;
    margin: 50px 0;
    padding: 0 50px 0 72px;

    border: none;

    grid-template-columns: 167px auto;
  }

  @media (min-width: $vp-1150) {
    width: 1150px;
    margin-right: auto;
    margin-left: auto;

    grid-template-columns: 175px 1fr;
  }

  &--radio {
    margin-bottom: 32px;

    @media (min-width: $vp-768) {
      margin-bottom: 67px;

      grid-template-columns: 148px auto;
      grid-template-rows: min-content 1fr;
    }

    @media (min-width: $vp-1150) {
      margin-top: 64px;
      padding-left: 50px;

      grid-template-columns: 176px 1fr;
    }


    .form__legend {
      margin-bottom: 31px;

      @media (min-width: $vp-768) {
        top: 18px;

        min-width: 115px;
      }
    }

    .form__label:not(:last-child) {
      margin-bottom: 13px;

      @media (min-width: $vp-768) {
        margin-bottom: 41px;
      }
    }

    .form__text {
      padding-top: 4px;

      @media (min-width: $vp-768) {
        padding-top: 0;

        &--radio {
          padding-top: 17px;
          padding-left: 100px;
        }
      }

      @media (min-width: $vp-1150) {
        max-width: 670px;
        padding-left: 79px;
      }
    }
  }

  &--checkbox {
    margin-bottom: 33px;

    @media (min-width: $vp-768) {
      margin-bottom: 50px;

      .form__text {
        margin-right: 0;
      }
    }

    @media (min-width: $vp-1150) {
      margin-top: 60px;
      margin-bottom: 52px;
      padding-left: 49px;

      .form__text {
        padding-top: 5px;
      }
    }

    .form__legend {
      margin-bottom: 25px;

      @media (min-width: $vp-768) {
        top: 17px;

        margin-bottom: 0;
      }

      @media (min-width: $vp-1150) {
        top: 0;
      }
    }

    .form__label:not(:last-child) {
      margin-bottom: 23px;

      @media (min-width: $vp-768) {
        margin-bottom: 0;
      }
    }
  }

  &--user {
    margin-bottom: 33px;

    @media (min-width: $vp-768) {
      margin-bottom: 54px;
      padding-right: 28px;

      grid-template-rows: min-content min-content 1fr;
    }

    @media (min-width: $vp-1150) {
      padding-left: 50px;
    }

    .form__legend {
      margin-bottom: 29px;

      @media (min-width: $vp-768) {
        top: 18px;

        margin-bottom: 0;
      }
    }

    .form__text {
      @media (min-width: $vp-768) {
        max-width: 200px;
      }

      @media (min-width: $vp-1150) {
        max-width: 260px;
      }
    }
  }

  &--phone {
    margin-bottom: 35px;

    @media (min-width: $vp-768) {
      margin-bottom: 26px;
      padding: 0 28px 0 72px;
    }

    @media (min-width: $vp-1150) {
      padding-left: 50px;
    }

    .form__legend {
      margin-bottom: 4px;

      @media (min-width: $vp-768) {
        top: 16px;

        margin-bottom: 0;
      }
    }

    .form__label {
      @media (min-width: $vp-768) {
        position: relative;

        width: 100%;
        padding: 16px 0;

        &--phone {
          padding: 0;
        }

        &--radio {
          margin-bottom: 43px;
        }
      }

      @media (min-width: $vp-1150) {
        width: 700px;
      }
    }

    .form__svg {
      right: 7px;

      @media (min-width: $vp-768) {
        right: 26px;
      }

      @media (min-width: $vp-1150) {
        right: 8px;
      }
    }
  }

  &--email {
    margin-bottom: 35px;

    @media (min-width: $vp-768) {
      margin-top: 0;
      margin-bottom: 50px;
      padding: 0 28px 0 72px;
    }

    @media (min-width: $vp-1150) {
      padding-left: 50px;
    }

    .form__legend {
      margin-bottom: 5px;

      @media (min-width: $vp-768) {
        top: 18px;

        margin-bottom: 0;
      }
    }

    .form__label {
      @media (min-width: $vp-768) {
        width: 100%;
      }

      @media (min-width: $vp-1150) {
        width: 700px;
      }
    }

    .form__input-text {
      padding-right: 45px;

      @media (min-width: $vp-768) {
        padding-right: 65px;
      }

      @media (min-width: $vp-1150) {
        padding-right: 45px;
      }
    }

    .form__svg {
      right: 3px;

      @media (min-width: $vp-768) {
        right: 22px;
      }

      @media (min-width: $vp-1150) {
        right: 4px;
      }
    }
  }

  &--text {
    @media (min-width: $vp-768) {
      margin-top: 53px;
      margin-bottom: 53px;
      padding-right: 28px;
    }

    @media (min-width: $vp-1150) {
      margin-bottom: 53px;
      padding-left: 50px;
    }

    .form__legend {
      margin-bottom: 22px;

      @media (min-width: $vp-768) {
        top: 20px;

        margin-bottom: 0;
      }
    }
  }
}

.form__legend {
  display: flex;
  margin: 0;
  overflow: hidden;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $color-downy;
  text-transform: uppercase;

  &::after {
    content: "";

    align-self: center;
    width: 100%;
    height: 1px;
    margin-left: 22px;

    background-color: #62d1ba;

    @media (min-width: $vp-768) {
      display: none;
    }
  }

  @media (min-width: $vp-768) {
    position: relative;

    padding: 0;
    padding-right: 30px;

    grid-row: 1 / -1;
  }

  @media (min-width: $vp-1150) {
    margin-left: 61px;
    padding-right: 10px;
  }
}

.form__legend-text {
  flex-shrink: 0;
  max-width: 80%;

  @media (min-width: $vp-768) {
    flex-shrink: 1;
    max-width: 100%;

    word-break: break-word;
  }
}

.form__grid-label {
  @media (min-width: $vp-768) {
    display: grid;
    justify-content: start;
    align-items: start;

    column-gap: 87px;

    grid-column: 2;
    grid-template-columns: repeat(2, 175px);
    row-gap: 24px;

    .form__label {
      grid-column: auto;
    }
  }

  @media (min-width: $vp-1150) {
    column-gap: 98px;

    grid-template-columns: 164px 166px 203px;
    row-gap: 35px;
  }
}

.form__label {
  position: relative;

  display: flex;
  align-items: center;

  @media (min-width: $vp-768) {
    grid-column: 2;
    justify-self: start;
  }

  .form__group--user & {
    flex-direction: column;
    align-items: stretch;

    @media (min-width: $vp-768) {
      flex-direction: row;
      align-items: center;
      width: 100%;
    }

    @media (min-width: $vp-1150) {
      width: 700px;
    }

    &:not(:last-child) {
      margin-bottom: 22px;

      @media (min-width: $vp-768) {
        margin-bottom: 24px;
      }
    }
  }

  &:hover {
    .form__dot,
    .form__check {
      border-color: $color-downy-mod;
    }
  }

  &:active {
    .form__dot,
    .form__check {
      border-color: rgba($color-default-black, 0.3);
    }
  }
}

.form__input-radio {
  &:focus {
    + .form__dot {
      border-color: $color-downy-mod;
    }
  }

  &:checked {
    + .form__dot {
      background-image: url("../img/icons/input-radio.svg");
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: $vp-768) {
        background-size: 23px 23px;
      }
    }
  }

  &:disabled {
    + .form__dot {
      border-color: rgba($color-default-black, 0.3);
    }

    + .form__dot,
    ~ .form__text {
      opacity: 0.3;

      pointer-events: none;
    }
  }
}

.form__input-checkbox {
  &:focus {
    + .form__check {
      border-color: $color-downy-mod;
    }
  }

  &:checked {
    + .form__check {
      background-image: url("../img/icons/tick.svg");
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: $vp-768) {
        background-image: url("../img/icons/tablet-tick.svg");
      }
    }
  }

  &:disabled {
    + .form__check {
      border-color: rgba($color-default-black, 0.3);
    }

    + .form__check,
    ~ .form__text {
      opacity: 0.3;

      pointer-events: none;
    }
  }
}

.form__dot {
  flex-shrink: 0;
  align-self: flex-start;
  width: 40px;
  height: 40px;
  margin-right: 19px;

  border: 2px solid $color-charcoal;
  border-radius: 50%;

  @media (min-width: $vp-768) {
    position: absolute;
    top: 8px;

    width: 50px;
    height: 50px;
  }

  @media (min-width: $vp-1150) {
    top: 0;
  }
}

.form__check {
  flex-shrink: 0;
  align-self: flex-start;
  width: 38px;
  height: 38px;
  margin-right: 23px;

  border: 2px solid $color-charcoal;

  @media (min-width: $vp-768) {
    position: absolute;
    top: 8px;
    left: -22px;

    width: 52px;
    height: 52px;

    background-size: 34px auto;
  }

  @media (min-width: $vp-1150) {
    position: absolute;
    top: -15px;
    left: 0;
  }
}

.form__input-text {
  flex-grow: 1;
  padding: 16px 0;

  font-size: 17px;
  line-height: 18px;
  font-family: $ff-open-sans;
  color: $color-charcoal;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid $color-default-black;

  appearance: textfield;

  @media (min-width: $vp-768) {
    align-self: flex-start;
    padding: 12px 18px 11px 18px;

    font-size: 19px;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &::placeholder {
    color: rgba($color-default-black, 0.3);

    opacity: 1;
  }

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    border-color: $color-downy-mod;

    + .form__svg {
      opacity: 1;

      fill: $color-downy-mod;
    }
  }

  &:disabled {
    opacity: 0.3;
  }
}

.form__svg {
  position: absolute;
  top: 49%;
  right: 0;

  transform: translateY(-50%);
  opacity: 0.2;

  pointer-events: none;

  fill: $color-default-black;
}

.form__text {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $vp-768) {
    margin-right: 26px;

    font-size: 19px;

    &--check {
      margin-bottom: 17px;
      padding-top: 17px;
      padding-left: 82px;
    }
  }
}

.form__textarea {
  margin-bottom: 3px;
  padding: 15px;

  font-size: 17px;
  line-height: 18px;
  font-family: $ff-open-sans;
  color: $color-charcoal;

  border: 2px solid $color-charcoal;

  resize: none;

  @media (min-width: $vp-768) {
    margin-bottom: 0;

    font-size: 19px;

    grid-column: 2;
  }

  @media (min-width: $vp-1150) {
    width: 700px;
  }

  &::placeholder {
    color: rgba($color-default-black, 0.3);

    opacity: 1;
  }

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    border-color: $color-downy-mod;
  }
}

.form__submit-wrapper {
  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    padding: 2px 39px 8px 72px;
  }

  @media (min-width: $vp-1150) {
    width: 700px;
    margin: 0 auto;
    padding: 0;
  }
}

.form__required {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 16px;

  @media (min-width: $vp-768) {
    width: 330px;
    margin: 0;
    padding-top: 11px;

    font-size: 17px;
    line-height: 30px;
    text-align: right;
  }
}

.form__button {
  width: 100%;
  margin: 0 auto;
  padding: 16px 20px;

  font-size: 17px;
  line-height: 16px;

  @media (min-width: $vp-768) {
    order: -1;
    width: 230px;
    margin: 0;
  }
}
