.intro {
  background-color: $color-white-smoke;


  @media (min-width: $vp-768) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 89%;

      display: block;
      width: 100%;
      height: 24px;

      background-image: url("../img/zigzag-intro.svg");
      background-position-x: center;
      background-size: auto 23.8px;
    }

    @media (min-width: $vp-1150) {
      &::after {
        background-image: url("../img/zigzag-fill-desktop.svg");
        top: 90%;
        background-size: auto 33.8px;
      }

    }
  }
}

.intro__wrapper {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 73px 0;

  @media (min-width: $vp-768) {
    max-width: 768px;
    padding: 58px 0 82px;
  }

  @media (min-width: $vp-1150) {
    max-width: 1150px;
    padding-bottom: 101px;
  }
}

.intro__tittle {
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $vp-768) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp-1150) {
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
  }
}
