.knitting {
  width: 100%;
}

.knitting__description {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $color-charcoal;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0 30px;

  @media (min-width: $mobile-width) {
    max-width: 500px;
    padding: 0 30px;
    margin-bottom: 80px;
  }

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    max-width: 668px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 735px;
    padding: 0 15px;
    margin-bottom: 80px;

  }
}


