.knitting {
  width: 100%;
  padding-top: 18px;

  @media (min-width: $vp-768) {
    padding-top: 52px;
  }
}

.knitting__description {
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0 30px;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $color-charcoal;

  @media (min-width: $vp-321) {
    max-width: 500px;
    margin-bottom: 80px;
    padding: 0 30px;
  }

  @media (min-width: $vp-768) {
    max-width: 668px;
    padding: 0 22px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $vp-1150) {
    max-width: 735px;
    margin-bottom: 80px;
    padding: 0 15px;
  }
}
