.manufacturing {
  padding: 0 30px;

  @media (min-width: $vp-768) {
    font-size: 50px;
  }

  @media (min-width: $vp-1150) {
    font-size: 50px;
  }
}

.manufacturing__inner {
  position: relative;

  min-width: 260px;
  max-width: 260px;
  margin: 0 auto;

  border: 1px solid $color-whisper;

  @media (min-width: $vp-768) {
    display: grid;
    max-width: 668px;

    grid-template-areas: "player-container"
    "tittle"
    "manufacturing__order";
  }

  @media (min-width: $vp-1150) {
    display: grid;
    max-width: 1050px;
    padding-bottom: 105px;

    grid-template-areas: "player-container tittle"
    "player-container manufacturing__order";
    grid-template-columns: 65% 1fr;
  }
}

.manufacturing__title {
  margin: 0;
  padding: 22px 13px 27px 91px;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  grid-area: tittle;

  @media (min-width: $vp-768) {
    font-size: 20px;
  }

  @media (min-width: $vp-1150) {
    padding-top: 96px;
    padding-left: 60px;
  }
}

.manufacturing__descriprion {
  margin: 0;
  padding: 35px 0 41px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    font-size: 15px;
    line-height: 30px;
  }
}

.manufacturing__order {
  padding: 13px 30px 34px;

  grid-area: manufacturing__order;

  @media (min-width: $vp-768) {
    padding: 0 42px 46px 42px;
  }

  @media (min-width: $vp-1150) {
    padding: 47px 36px 60px 80px;
  }
}

.manufacturing__button {
  width: 100%;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;

  @media (min-width: $vp-768) {
    max-width: 584px;

    font-size: 17px;
  }

  @media (min-width: $vp-1150) {
    max-width: 230px;
  }
}


.manufacturing__player-container {
  grid-area: player-container;
}

.manufacturing__player-button {
  position: absolute;
  top: 126px;
  left: 50%;

  background-color: inherit;
  border: none;
  transform: translateX(-50%);

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $vp-1150) {
    top: 205px;
    left: 33%;
  }
}

.manufacturing__image {
  @media (min-width: $vp-768) {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.manufacturing__video {
  position: absolute;
  top: 30px;
  left: 30px;

  @media (min-width: $vp-768) {
    top: 59%;
  }

  @media (min-width: $vp-1150) {
    top: 5%;
    left: 70%;
  }
}
