.manufacturing__inner {
  border: 1px solid $color-whisper;
}

.manufacturing__title {
  margin: 0;
  padding: 22px 13px 27px 91px;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
