.rewiews__tittle {
  margin: 0 0 14px 0;

  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.rewiews__comment {
  margin: 0 0 33px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    max-width: 668px;

    font-size: 17px;

    grid-column-end: 4;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
  }
}

.rewiews__author {
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.rewiews__nickname {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: $color-charcoal;
}

.rewiews__toggles {
  display: flex;
  min-width: 260px;
  max-width: 260px;
  margin: 0 0 38px 0;
}

.rewiews__toggle-button {
  width: 50%;
  height: 52px;
  padding: 0;

  background-color: $color-default-white;
  border: 1px solid $color-whisper;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.rewiews__item {
  margin: 0 0 31px 0;
}

.rewiews__button {
  margin: 0 0 89px 0;

  @media (min-width: $tablet-width) {
    max-width: 175px;

    font-size: 17px;
  }
}

.rewiews {
  @media (min-width: $tablet-width) {
    max-width: 900px;
    margin: 0 auto;

    background-image: url("../../img/review.jpg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    padding: 0 50px 0 175px;
  }
}

// если можно будет этот метод оставить, то перепишу на нормальные обозначения
.rewiews__wrapper {
  @media (min-width: $mobile-width) {
    max-width: 600px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    max-width: 900px;
    margin: 0 auto;

    column-gap: 313px;

    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "rt rb"
    "rc rc"
    "ri rtg";
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    max-width: 900px;
    margin: 0 auto;
  }
}

.rewiews__tittle {
  grid-area: rt;
}

.rewiews__button {
  grid-area: rb;
}

.rewiews__comment {
  grid-area: rc;
}

.rewiews__item {
  grid-area: ri;
}

.rewiews__toggles {
  grid-area: rtg;
}
