.stock {
  margin: 0 30px;

  background-color: $color-default-white;

  @media (min-width: $tablet-width) {
    position: relative;

    max-width: 100%;
    margin: 0 50px;
  }
}

.stock__title {
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;

    order: 2;
    padding-left: 210px;

    font-size: 53px;
    line-height: 57px;
  }
}

.stock__product {
  max-width: 100px;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $color-downy;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    line-height: 17px;
  }
}

.stock__description {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $color-charcoal;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.stock__table {
  margin: 0 0 28px 0;
  padding: 0;
}

.stock__table-item {
  display: flex;
  width: 100%;

  border-bottom: 1px solid $color-whisper;
}

.stock__table-term,
.stock__table-definition {
  padding: 12px 0 12px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.stock__table-term {
  width: 38%;
}

.stock__table-definition {
  margin: 0;
}

.stock__image {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 50px;
    left: 60%;
  }
}


.stock__procuct-price {
  display: block;
  width: 260px;
  margin-bottom: 25px;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.stock__product-order {
  margin-bottom: 73px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.stock__container {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
}

.stock__container--table {
  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
    margin-left: 30%;
  }
}

.stock__container-price {
  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
    margin-left: 30%;
  }
}
