*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/opensans.woff") format("woff");
  src: url("../fonts/opensans.woff2") format("woff2");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/opensansbold.woff") format("woff");
  src: url("../fonts/opensansbold.woff2") format("woff2");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.button {
  display: block;
  width: 260px;
  height: 52px;
  padding: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
  outline: 2px solid #444444;
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 50px;
  }
}

.categories {
  position: relative;
  width: 100%;
  background-color: #f9f9f9;
}
@media (min-width: 768px) {
  .categories {
    margin: 0 auto;
  }
}

.categories__container {
  background-color: #f9f9f9;
  background-image: url("../img/index-categories-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 373px;
}
@media (min-width: 768px) {
  .categories__container {
    padding-top: 94px;
    padding-bottom: 135px;
    background-image: url("../img/hero-tablet.jpg");
    background-position: 50% -60px;
    background-size: 768px 746px;
  }
}
@media (min-width: 1150px) {
  .categories__container {
    padding-top: 94px;
    padding-bottom: 135px;
    background-image: url("../img/hero-desktop.jpg");
    background-position: 50% -60px;
    background-size: 1150px 746px;
  }
}

.categories__title {
  margin: 0;
  padding: 73px 30px 120px 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .categories__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .categories__title {
    font-size: 53px;
    line-height: 57px;
  }
}

.categories__list {
  margin: 0 auto;
  margin-bottom: 31px;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .categories__list {
    display: flex;
  }
}
@media (min-width: 1150px) {
  .categories__list {
    max-width: 1050px;
  }
}

@media (min-width: 768px) {
  .categories__item {
    width: 50%;
  }
}

.categories__link {
  display: block;
  height: 103px;
  padding: 24px 160px 31px 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .categories__link {
    font-size: 20px;
    line-height: 30px;
    max-width: 668px;
  }
}

.categories__link--interior {
  background-color: #63d1bb;
}

.categories__link--toy {
  background-color: #56c3b2;
}

@media (min-width: 1150px) {
  .contacts {
    position: relative;
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 105px;
  }
}

.contacts__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .contacts__title {
    margin: 150px 0 49px 0;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__email,
.contacts__email-link,
.contacts__address,
.contacts__address-street {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .contacts__email,
.contacts__email-link,
.contacts__address,
.contacts__address-street {
    font-size: 17px;
  }
}

.contacts__email,
.contacts__address {
  margin-right: 35px;
}

.contacts__container {
  display: flex;
}
.contacts__container--email {
  margin-bottom: 50px;
}
.contacts__container--address {
  margin-bottom: 62px;
}

.contacts__email-link {
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
}

.contacts__map-wrapper {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 42px;
}
@media (min-width: 1150px) {
  .contacts__map-wrapper {
    position: absolute;
    top: -50px;
    right: 100px;
  }
}

.contacts__button {
  margin: 0 auto;
  margin-bottom: 55px;
}
@media (min-width: 768px) {
  .contacts__button {
    font-size: 17px;
  }
}
@media (min-width: 1150px) {
  .contacts__button {
    margin: 0;
    margin-left: 350px;
  }
}

@media (min-width: 768px) {
  .contacts__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}
@media (min-width: 1150px) {
  .contacts__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
}

@media (min-width: 321px) {
  .contacts__inner {
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .contacts__inner {
    max-width: 990px;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .contacts__inner {
    padding: 0 50px 0 175px;
  }
}

.features__tittle {
  margin: 0 0 82px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .features__tittle {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .features__tittle {
    font-size: 53px;
    line-height: 57px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 321px) {
  .features__list {
    min-width: 260px;
    max-width: 260px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .features__list {
    display: grid;
    max-width: 700px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
  }
}

.features__item {
  margin-bottom: 83px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
.features__item:last-child {
  margin-bottom: 58px;
}
@media (min-width: 768px) {
  .features__item {
    font-size: 20px;
    line-height: 22px;
  }
  .features__item--ecology {
    order: 1;
  }
  .features__item--prise {
    order: 3;
  }
  .features__item--like {
    order: 5;
  }
  .features__item--natural {
    order: 2;
  }
  .features__item--support {
    order: 4;
  }
  .features__item--package {
    order: 6;
  }
}

@media (min-width: 1150px) {
  .featutes__container {
    max-width: 700px;
    margin: 0 auto;
  }
}

.header {
  width: 100%;
  overflow: hidden;
  color: #000000;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .header {
    background-color: #f9f9f9;
  }
}

.header__site-link {
  display: block;
  padding: 29px 65px 27px 76px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: inherit;
  text-decoration: none;
}
@media (min-width: 768px) {
  .header__site-link {
    padding-right: 0;
    padding-left: 0;
    font-size: 15px;
  }
}
@media (min-width: 1150px) {
  .header__site-link {
    font-size: 17px;
  }
}

.header__site-item {
  border-bottom: 1px solid #ececec;
}
@media (min-width: 768px) {
  .header__site-item {
    border: none;
  }
}
@media (min-width: 1150px) {
  .header__site-item {
    border-right: 1px solid #ececec;
  }
  .header__site-item:last-child {
    border: none;
  }
}

@media (min-width: 768px) {
  .header__news-item {
    width: 50%;
  }
}

.header__user-link {
  display: block;
  padding: 29px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

@media (min-width: 768px) {
  .header__user-search {
    display: none;
  }
}

.header__user-item {
  border-bottom: 1px solid #ececec;
}
@media (min-width: 768px) {
  .header__user-item {
    border-bottom: none;
    border-left: 1px solid #ececec;
  }
}
@media (min-width: 1150px) {
  .header__user-item {
    width: 40%;
    text-align: end;
  }
}
@media (min-width: 1150px) {
  .header__user-item--basket {
    width: 60%;
  }
}

.header__news-link {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}

.header__delivery-text {
  display: none;
  margin: 0;
  font-weight: 400;
  color: #444444;
  grid-area: delivery-text;
}
@media (min-width: 768px) {
  .header__delivery-text {
    display: block;
    padding: 20px 40px 20px 50px;
    text-align-last: right;
  }
}

.header__nav {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding-top: 80px;
}
@media (min-width: 768px) {
  .header__nav {
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .header__nav {
    padding: 0 50px;
  }
}

.header__logo {
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .header__logo {
    left: 50px;
    transform: translateX(0);
  }
}
@media (min-width: 1150px) {
  .header__logo {
    left: 50%;
    transform: translateX(-50%);
  }
}

.header__nav-wrapper {
  display: grid;
  grid-template-areas: "site-nav" "user-nav";
}
@media (min-width: 768px) {
  .header__nav-wrapper {
    grid-template-areas: "user-nav user-nav" "site-nav delivery-text";
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1150px) {
  .header__nav-wrapper {
    grid-template-areas: "site-nav user-nav" "news-nav delivery-text";
  }
}

.header__site-nav {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #ececec;
  grid-area: site-nav;
}
@media (min-width: 768px) {
  .header__site-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    column-gap: 36px;
  }
  .header__site-nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100vw;
    z-index: -1;
    width: 200vw;
    height: 100%;
    background-color: #f9f9f9;
  }
}
@media (min-width: 1150px) {
  .header__site-nav {
    padding-right: 100px;
    border-bottom: 1px solid #ececec;
  }
}

.header__user-nav {
  position: relative;
  grid-area: user-nav;
}
@media (min-width: 768px) {
  .header__user-nav {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: auto;
    padding: 0;
    border-bottom: 1px solid #ececec;
  }
}
@media (min-width: 1150px) {
  .header__user-nav {
    width: 100%;
    padding-left: 100px;
  }
}
.header__user-nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100vw;
  z-index: -1;
  width: 200vw;
  height: 100%;
  background-color: #ffffff;
}

.header__news-nav {
  display: none;
  margin: 0;
  padding: 21px 0;
  list-style: none;
  text-decoration: none;
  grid-area: news-nav;
}
@media (min-width: 1150px) {
  .header__news-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 100px 20px 0;
  }
}

.header__delivery-text {
  display: none;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  grid-area: delivery-text;
}
@media (min-width: 768px) {
  .header__delivery-text {
    display: block;
    padding: 20px 40px 20px 50px;
    text-align-last: right;
  }
}
@media (min-width: 1150px) {
  .header__delivery-text {
    padding: 20px 0 20px 100px;
  }
}

.header__toggle-button {
  position: absolute;
  top: 20px;
  right: 50px;
}
@media (min-width: 768px) {
  .header__toggle-button {
    display: none;
  }
}

.page-footer {
  width: 100%;
  margin: 0 auto;
  background-color: #f1f1f1;
}

.page-footer__inner {
  max-width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-footer__inner {
    max-width: 768px;
    display: grid;
    align-items: center;
    margin-top: auto;
    padding: 50px 50px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1150px) {
  .page-footer__inner {
    max-width: 1050px;
  }
}

.page-footer__developed-text {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.page-footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  margin: 0 auto;
  padding: 25px 60px 25px 60px;
  list-style: none;
  border-bottom: 1px solid #e5e5e5e5;
}
@media (min-width: 768px) {
  .page-footer__social {
    border: none;
  }
}

.page-footer__developed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 230px;
  margin: 0 auto;
  color: #000000;
  text-decoration: none;
}

.page-footer__developed-text {
  display: block;
  margin-right: 27px;
}

.page-footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .page-footer__logo {
    display: block;
  }
}

.rewiews__tittle {
  margin: 0 0 14px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .rewiews__tittle {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .rewiews__tittle {
    font-size: 53px;
    line-height: 57px;
  }
}

.rewiews__comment {
  margin: 0 0 33px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .rewiews__comment {
    max-width: 668px;
    font-size: 17px;
    grid-column-end: 4;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
  }
}

.rewiews__author {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .rewiews__author {
    font-size: 18px;
  }
}
@media (min-width: 1150px) {
  .rewiews__author {
    font-size: 17px;
  }
}

.rewiews__nickname {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}

.rewiews__toggles {
  display: flex;
  min-width: 260px;
  max-width: 260px;
  margin: 0 0 38px 0;
}

.rewiews__toggle-button {
  width: 50%;
  height: 52px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #ececec;
}
@media (min-width: 768px) {
  .rewiews__toggle-button {
    border: none;
  }
}

.rewiews__item {
  margin: 0 0 31px 0;
}

.rewiews__button {
  margin: 0 0 89px 0;
}
@media (min-width: 768px) {
  .rewiews__button {
    max-width: 175px;
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  .rewiews {
    max-width: 900px;
    margin: 0 auto;
    background-image: url("../../img/review.jpg");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1150px) {
  .rewiews {
    max-width: 1050px;
    padding: 0 50px 0 175px;
  }
}

@media (min-width: 321px) {
  .rewiews__wrapper {
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .rewiews__wrapper {
    display: grid;
    max-width: 900px;
    margin: 0 auto;
    column-gap: 313px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "rt rb" "rc rc" "ri rtg";
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1150px) {
  .rewiews__wrapper {
    max-width: 900px;
    margin: 0 auto;
  }
}

.rewiews__tittle {
  grid-area: rt;
}

.rewiews__button {
  grid-area: rb;
}

.rewiews__comment {
  grid-area: rc;
}

.rewiews__item {
  grid-area: ri;
}

.rewiews__toggles {
  grid-area: rtg;
}

.stock {
  margin: 0 auto;
  padding: 0 30px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .stock {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 50px;
  }
}
@media (min-width: 768px) {
  .stock {
    max-width: 1050px;
    padding: 0 50px;
  }
}

.stock__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .stock__title {
    margin-right: 130px;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .stock__title {
    z-index: 1;
    order: 2;
    margin: 0;
    padding: 0;
    font-size: 53px;
    line-height: 57px;
  }
}

.stock__product {
  max-width: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .stock__product {
    line-height: 17px;
  }
}
@media (min-width: 1150px) {
  .stock__product {
    margin-right: 70px;
  }
}

.stock__description {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}
@media (min-width: 768px) {
  .stock__description {
    font-size: 17px;
    line-height: 30px;
  }
}

.stock__table {
  margin: 0 0 28px 0;
  padding: 0;
}

.stock__table-item {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ececec;
}

.stock__table-term,
.stock__table-definition {
  padding: 12px 0 12px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.stock__table-term {
  width: 38%;
}

.stock__table-definition {
  margin: 0;
}

.stock__image {
  margin-bottom: 25px;
}
@media (min-width: 321px) {
  .stock__image {
    min-width: 260px;
    max-width: 260px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .stock__image {
    position: absolute;
    top: 105px;
    right: 50px;
  }
}

.stock__procuct-price {
  display: block;
  width: 260px;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}
@media (min-width: 768px) {
  .stock__procuct-price {
    font-size: 20px;
  }
}

.stock__product-order {
  margin-bottom: 73px;
}
@media (min-width: 768px) {
  .stock__product-order {
    max-width: 292px;
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  .stock__container {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
}

@media (min-width: 321px) {
  .stock__container--table {
    max-width: 400px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .stock__container--table {
    width: 50%;
    max-width: 292px;
    margin: 0;
  }
}
@media (min-width: 1150px) {
  .stock__container--table {
    max-width: 300px;
    margin-left: 175px;
  }
}

@media (min-width: 321px) {
  .stock__container-price {
    min-width: 260px;
    max-width: 260px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .stock__container-price {
    width: 50%;
    margin: 0;
  }
}
@media (min-width: 1150px) {
  .stock__container-price {
    max-width: 300px;
    margin-left: 175px;
  }
}

.user-list__search {
  display: block;
}

@media (min-width: 768px) {
  .user-list__search-description {
    display: none;
  }
}

.user-list__search-icon {
  width: 82px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 320px;
  max-width: 320px;
  margin: 0 auto;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .modal {
    max-width: 566px;
    padding: 108px;
  }
}

.modal__close {
  display: none;
}

.modal__title {
  text-align: center;
  margin: 0 0 14px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .modal__title {
    padding: 0;
  }
}

.modal__form-group {
  border: none;
}

.modal__legend {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.modal__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal__submit {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 46px;
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
  outline: none;
}
@media (min-width: 768px) {
  .modal__submit {
    max-width: 350px;
  }
}

.intro {
  margin-bottom: 17px;
  background-color: #f1f1f1;
}

.intro__wrapper {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 74px 0;
}
@media (min-width: 768px) {
  .intro__wrapper {
    max-width: 768px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1150px) {
  .intro__wrapper {
    max-width: 1150px;
    margin-bottom: 98px;
  }
}

.intro__tittle {
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .intro__tittle {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .intro__tittle {
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
  }
}

.knitting {
  width: 100%;
}

.knitting__description {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0 30px;
}
@media (min-width: 321px) {
  .knitting__description {
    max-width: 500px;
    padding: 0 30px;
    margin-bottom: 80px;
  }
}
@media (min-width: 768px) {
  .knitting__description {
    font-size: 17px;
    line-height: 30px;
    max-width: 668px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .knitting__description {
    max-width: 735px;
    padding: 0 15px;
    margin-bottom: 80px;
  }
}

@media (min-width: 768px) {
  .form {
    position: relative;
  }
}

.form-group {
  margin: 0;
  padding: 0;
  border: none;
}
@media (min-width: 768px) {
  .form-group {
    margin-bottom: 100px;
  }
}

.form-group__title {
  width: 90px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form-group__title {
    float: left;
    margin-right: 80px;
  }
}
@media (min-width: 1150px) {
  .form-group__title {
    margin-right: 50px;
  }
}

.form-group__label {
  padding-right: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .form-group__label {
    margin: 0;
    padding: 0;
    font-size: 19px;
    line-height: 18px;
  }
}
.form-group__label--checkbox {
  padding-left: 48px;
}
@media (min-width: 768px) {
  .form-group__label--checkbox {
    padding-left: 144px;
  }
}
@media (min-width: 1150px) {
  .form-group__label--checkbox {
    padding-left: 70px;
  }
}
.form-group__label--radio {
  display: flex;
  padding: 14px 20px 10px 48px;
}
@media (min-width: 768px) {
  .form-group__label--radio {
    padding-left: 144px;
  }
}
@media (min-width: 1150px) {
  .form-group__label--radio {
    padding-left: 70px;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .form__list {
    display: grid;
  }
}

@media (min-width: 768px) {
  .form__list--has-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1150px) {
  .form__list--has-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.form-group__input {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: inherit;
  border: none;
}
.form-group__input--radio {
  margin-bottom: 24px;
}
.form-group__input--checkbox {
  margin-bottom: 43px;
}
@media (min-width: 768px) {
  .form-group__input {
    font-size: 18px;
    line-height: 19px;
  }
}

.form-group__title--type {
  margin-bottom: 35px;
}

.form-group__title--color {
  margin-bottom: 35px;
}

.form-group__title--about {
  margin-bottom: 29px;
}

.form-group__title--contacts {
  margin-bottom: 19px;
}

.form-group__title--additionally {
  margin-bottom: 23px;
}

.form-group__textarea {
  min-width: 260px;
  max-width: 260px;
  margin-bottom: 17px;
  padding: 15px 15px 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: inherit;
  border: 2px solid #444444;
}
@media (min-width: 768px) {
  .form-group__textarea {
    max-width: 501px;
    font-size: 18px;
    line-height: 19px;
  }
}
@media (min-width: 1150px) {
  .form-group__textarea {
    max-width: 700px;
  }
}

.form-group__input--about {
  width: 100%;
  padding: 15px 0;
  border-bottom: 2px solid #000000;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .form-group__input--about {
    padding-left: 15px;
  }
}

.form__mark {
  display: block;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .form__mark {
    order: 2;
    font-size: 17px;
    line-height: 30px;
  }
}

.form__submit-button {
  margin-bottom: 55px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .form__submit-button {
    max-width: 230px;
  }
}

@media (min-width: 768px) {
  .form__list--about {
    display: grid;
  }
}

.form__item--about {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .form__item--about {
    display: flex;
    align-items: center;
    max-width: 501px;
    margin-bottom: 41px;
  }
}
@media (min-width: 1150px) {
  .form__item--about {
    max-width: 700px;
  }
}

.form__item--checkbox,
.form__item--about {
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .form__item--checkbox,
.form__item--about {
    margin-bottom: 60px;
  }
  .form__item--checkbox:last-child,
.form__item--about:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .form-group--contacts {
    display: grid;
  }
}

.form-group__input--contacts {
  width: 100%;
  padding: 15px 0;
  border-bottom: 2px solid #000000;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .form-group__input--contacts {
    max-width: 501px;
    background-color: #f1f1f1;
  }
}
@media (min-width: 768px) {
  .form-group__input--contacts {
    max-width: 700px;
  }
}

@media (min-width: 768px) {
  .form-group--grey {
    padding-top: 65px;
  }
}
@media (min-width: 1150px) {
  .form-group--grey {
    padding-top: 50px;
  }
}

.form-group__container {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .form-group__container {
    display: grid;
    align-items: center;
    margin-bottom: 0;
    padding: 60px 0 24px;
    grid-template-columns: auto 1fr;
  }
  .form-group__container:last-child {
    padding-top: 0;
    padding-bottom: 50px;
  }
}

@media (min-width: 768px) {
  .form-group--more {
    display: flex;
    margin-bottom: 53px;
  }
}

@media (min-width: 768px) {
  .form-group__label-more {
    display: grid;
    width: 100%;
  }
}

.form__submit {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .form__submit {
    display: flex;
    align-items: baseline;
    max-width: 768px;
    padding: 0 50px;
    column-gap: 110px;
  }
}
@media (min-width: 1150px) {
  .form__submit {
    display: flex;
    align-items: baseline;
    max-width: 710px;
    padding: 0 5px;
  }
}

.form__container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 321px) {
  .form__container {
    max-width: 320px;
  }
}
@media (min-width: 768px) {
  .form__container {
    max-width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .form__container {
    max-width: 1150px;
    padding: 0 97px;
  }
}

@media (min-width: 768px) {
  .form__container--color {
    background-color: #f1f1f1;
  }
}

.catalog__list {
  margin: 0 auto;
  padding: 0 30px;
  list-style: none;
}
@media (min-width: 768px) {
  .catalog__list {
    padding: 67px 50px 0 50px;
  }
}
@media (min-width: 1150px) {
  .catalog__list {
    display: grid;
    max-width: 1150px;
    padding: 0 50px;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.catalog__item {
  min-width: 260px;
  max-width: 260px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .catalog__item {
    display: grid;
    max-width: 668px;
    margin-bottom: 54px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1150px) {
  .catalog__item {
    display: flex;
    flex-direction: column;
    max-width: 1051px;
  }
}

.catalog-item__link-image {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .catalog-item__link-image {
    height: 100%;
    object-fit: cover;
  }
}

.catalog__item-wrapper {
  margin-bottom: 30px;
  padding: 28px 32px 0 28px;
  border: 1px solid #ececec;
}
@media (min-width: 768px) {
  .catalog__item-wrapper {
    width: 100%;
    min-width: 334px;
    margin-bottom: 0;
  }
}
@media (min-width: 1150px) {
  .catalog__item-wrapper {
    width: 100%;
    min-width: 316px;
  }
}

.catalog-item__info {
  padding-bottom: 17px;
  border-bottom: 1px solid #ececec;
}
@media (min-width: 768px) {
  .catalog-item__info {
    padding-bottom: 170px;
  }
}
@media (min-width: 1150px) {
  .catalog-item__info {
    padding-bottom: 37px;
  }
  .catalog-item__info--big {
    padding-bottom: 12px;
  }
}

.catalog-item__footer {
  padding-top: 22px;
  padding-bottom: 32px;
}

.catalog-item__link {
  color: #000000;
  text-decoration: none;
}

.catalog-item__title {
  margin: 0 0 6px 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .catalog-item__title {
    font-size: 20px;
  }
}

.catalog-item__description {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}
@media (min-width: 768px) {
  .catalog-item__description {
    font-size: 15px;
  }
}

.catalog-item__price {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}
@media (min-width: 768px) {
  .catalog-item__price {
    font-size: 17px;
  }
}

.manufacturing {
  padding: 0 30px;
}
@media (min-width: 768px) {
  .manufacturing {
    font-size: 50px;
  }
}
@media (min-width: 1150px) {
  .manufacturing {
    font-size: 50px;
  }
}

.manufacturing__inner {
  position: relative;
  min-width: 260px;
  max-width: 260px;
  margin: 0 auto;
  border: 1px solid #ececec;
}
@media (min-width: 768px) {
  .manufacturing__inner {
    display: grid;
    max-width: 668px;
    grid-template-areas: "player-container" "tittle" "manufacturing__order";
  }
}
@media (min-width: 1150px) {
  .manufacturing__inner {
    display: grid;
    max-width: 1050px;
    padding-bottom: 105px;
    grid-template-areas: "player-container tittle" "player-container manufacturing__order";
    grid-template-columns: 65% 1fr;
  }
}

.manufacturing__title {
  margin: 0;
  padding: 22px 13px 27px 91px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  grid-area: tittle;
}
@media (min-width: 768px) {
  .manufacturing__title {
    font-size: 20px;
  }
}

.manufacturing__descriprion {
  margin: 0;
  padding: 35px 0 41px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
@media (min-width: 768px) {
  .manufacturing__descriprion {
    font-size: 15px;
    line-height: 30px;
  }
}

.manufacturing__order {
  padding: 13px 30px 34px;
  grid-area: manufacturing__order;
}
@media (min-width: 768px) {
  .manufacturing__order {
    padding: 0 42px 46px 42px;
  }
}
@media (min-width: 1150px) {
  .manufacturing__order {
    padding: 47px 36px 60px 80px;
  }
}

.manufacturing__button {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .manufacturing__button {
    max-width: 584px;
    font-size: 17px;
  }
}
@media (min-width: 1150px) {
  .manufacturing__button {
    max-width: 230px;
  }
}

.manufacturing__player-container {
  grid-area: player-container;
}

.manufacturing__player-button {
  position: absolute;
  top: 126px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 1150px) {
  .manufacturing__player-button {
    top: 205px;
    left: 33%;
  }
}

@media (min-width: 768px) {
  .manufacturing__image {
    display: block;
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */